[safe]
	directory = /storage/emulated/0/Download/veltapedia
	directory = /storage/emulated/0/Download/studio-xean
	directory = /storage/emulated/0/Download/xean-studio
	directory = /storage/emulated/0/Download/xean-nextjs
	directory = /storage/emulated/0/Download/aixeandigital
	directory = /storage/emulated/0/Download/xeandigitalhome
	directory = /storage/emulated/0/Download/xeandigitalhome
	directory = /storage/emulated/0/Download/aixeandigital
	directory = /storage/emulated/0/Download/xean-nextjs
	directory = /storage/emulated/0/Download/xeangform
	directory = /storage/emulated/0/Download/xeangform
	directory = /storage/emulated/0/Download/xeandigitalhome
	directory = /storage/emulated/0/Download/xeangform
	directory = /storage/emulated/0/Download/xeangform
[user]
	email = carlivianevada@gmail.com
	name = Alkhattab12
